{block content}

<h1 class="my-5">
    <i class="fa-solid fa-ghost fa-fw fa-shake text-muted" style="--fa-animation-duration: 8s; --fa-animation-timing: ease-in-out;"></i>
    404 {block title}{_locale.error.404.title}{/block}
</h1>

<p>{_locale.error.404.description}</p>
