<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/fontawesome/css/all.min.css" rel="stylesheet">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Quixam</title>
  </head>
  <body>
    {control menu}

	<div class="container mt-3">
      <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	  {include content}
	</div>

	{block scripts}
    <script src="styles/bootstrap.bundle.min.js"></script>
	{/block}
  </body>
</html>
