{block content}

<h1>
  <i class="fa-solid fa-list-check fa-fw text-muted"></i>
  {_locale.test.title}:
  {$test->getCaption($locale)},
  {$test->getScheduledAt()|ldate}
</h1>

{if $selectedUser}
<h4 class="my-3 p-3 border border-secondary rounded bg-light">
  <i class="fa-regular fa-user fa-fw text-muted"></i>
  {_locale.test.resultsOfUser}:
  {$selectedUser->getFirstName()} {$selectedUser->getLastName()}
  <a n:href="Enrolled:default $test->getId()" class="float-md-end text-smaller mt-1"><i class="fa-solid fa-share-from-square fa-fw"></i> {_locale.test.backToEnrolled}</a>
</h4>
{/if}

<span class="d-inline-block me-4">
  <span class="text-muted">{_locale.test.supervisors}:</span>
  {foreach $test->getSupervisors() as $supervisor}{$supervisor->getFirstName()} {$supervisor->getLastName()}{sep}, {/sep}{/foreach}
</span>
<span class="d-inline-block me-4">
  <span class="text-muted">{_locale.test.startedAt}:</span>
  {$test->getStartedAt()|ldate}
</span>
{if $test->getFinishedAt() !== null}
<span class="d-inline-block me-4">
  <span class="text-muted">{_locale.test.finishedAt}:</span>
  {$test->getFinishedAt()|ldate}
</span>
{/if}
{if $enrolledUser->hasScore()}
<strong class="d-inline-block float-lg-end">
  <span class="text-muted">{_locale.test.awardedPoints}:</span>
  {$enrolledUser->getScore()} {_locale.test.pointsOf} {$enrolledUser->getMaxScore()}
</strong>
{/if}

{if $test->getStartedAt() !== null}

  <nav class="my-3">
    <ul class="pagination">
      <li class="page-item {$selectedQuestionIdx === 0 ? 'disabled'}">
        <a class="page-link"
          n:href="this question => $selectedQuestionIdx > 0 ? $questions[$selectedQuestionIdx-1]->getId()"
          >{_locale.test.previous}</a>
      </li>
      <li n:foreach="$questions as $idx => $question"
        class="page-item {$idx === $selectedQuestionIdx ? 'active'}">
        {var $answerTmp = $idx !== $selectedQuestionIdx ? $question->getLastAnswer() : null}
        <a n:class="page-link,
          $answerTmp !== null ? 'bg-opacity-25 fw-bold',
          $answerTmp !== null && (!$test->getFinishedAt() || $answerTmp->getPoints()) ? 'bg-success text-success',
          $answerTmp !== null && $test->getFinishedAt() && !$answerTmp->getPoints() ? 'bg-danger text-danger'"
          n:href="this question => $question->getId()">{$question->getOrdering()}</a>
      </li>
      {if $test->getFinishedAt() === null}
      <li class="page-item {$selectedQuestionIdx >= count($questions) ? 'active'}">
        <a class="page-link" n:href="this question => null">{_locale.test.end}</a>
      </li>
      {/if}
      <li class="page-item {$selectedQuestionIdx >= (count($questions) - ($test->getFinishedAt() === null ? 0 : 1)) ? 'disabled'}">
        <a class="page-link"
          n:href="this question => $selectedQuestionIdx < count($questions)-1 ? $questions[$selectedQuestionIdx+1]->getId()"
          >{_locale.test.next}</a>
      </li>
    </ul>
  </nav>

  <hr>

  <h3 class="mb-3">
    {block title}
      {if $selectedQuestionIdx < count($questions)}
        {_locale.test.question} #{$selectedQuestion->getOrdering()}
      {else}
        {_locale.test.completed.title}
      {/if}
    {/block}
    {if $selectedQuestionIdx < count($questions)}
      &ndash; {$selectedQuestion->getCaption($locale)}

      {if $test->getFinishedAt() !== null}
        <span class="badge {$answer?->getPoints() ? 'bg-success' : 'bg-danger'} float-sm-end mt-1 ms-3 fs-6">
          {_locale.test.points}: {(int)$answer?->getPoints()} {_locale.test.pointsOf} {$selectedQuestion->getPoints()}
        </span>
      {else}
        <span class="badge bg-secondary float-sm-end mt-1 ms-3 fs-6">{_locale.test.points}: {$selectedQuestion->getPoints()}</span>
      {/if}
    {/if}
  </h3>

  {if $selectedQuestionIdx < count($questions)}

    <div class="bg-light border p-3 my-3 rounded">{$questionText|markdown}</div>

    {if $readonly}
      {if $test->getFinishedAt() !== null}
        {if $answer === null}
          <div class="border rounded border-secondary text-muted p-2 my-2"><i class="fa-regular fa-circle-check fa-fw"></i> {_locale.test.missingAnswer}</div>
        {elseif $answerCorrect}
          <div class="border rounded border-success text-success p-2 my-2"><i class="fa-regular fa-circle-check fa-fw"></i> {_locale.test.correctAnswer}</div>
        {else}
          <div class="border rounded border-danger text-danger p-2 my-2"><i class="fa-regular fa-circle-xmark fa-fw"></i> {_locale.test.wrongAnswer}</div>
        {/if}
      {elseif $enrolledUser->isLocked()}
        <div class="border rounded border-info text-info p-2 my-2"><i class="fa-regular fa-hand fa-fw"></i> {_locale.test.enrolledUserLocked}</div>
      {/if}

      {$questionResult|noescape}
    {else}
      <form action="{link Save! question: $selectedQuestion->getId()}" method="POST" data-ajax data-ajax-button="saveButton">
        <input type="hidden" name="nextQuestion" value="{$nextQuestion?->getId()}">

        {$questionForm|noescape}

        {if $answer}
        <div class="mt-4 mb-1">
          <i class="fa-solid fa-circle-info fa-fw text-muted"></i>
          {_locale.test.alreadyAnsweredInfo}
        </div>
        {/if}

        <button id="saveButton" type="submit" class="btn btn-success btn-lg shadow mt-3">
          <i class="fa-solid fa-download fa-fw"></i>
          {_locale.test.saveAndContinue}
        </button>
        <a class="btn btn-secondary btn-lg shadow mt-3" n:href="this question => $nextQuestion?->getId()">
          {_locale.test.skipAndContinue}
          <i class="fa-solid fa-forward fa-fw"></i>
        </a>

      </form>
    {/if}
  {else}
    <p>
      {if $enrolledUser->isLocked()}
        {_locale.test.completed.message1Locked}
      {else}
        {_locale.test.completed.message1}
      {/if}
    </p>

    {if !$enrolledUser->isLocked()}
      <a class="btn btn-warning mb-3" n:href="LockSelf!" data-ajax="POST" data-ajax-confirm="{_locale.test.lockMyselfConfirm}">
        <i class="fa-solid fa-user-lock fa-fw"></i>
        {_locale.test.lockMyselfButton}
      </a>
    {/if}

    <p>
      {_locale.test.completed.message2}
      {_locale.test.completed.messagePointRanges}
    </p>
    <ul>
      <li><strong>17-20</strong> {_locale.test.completed.points.1}</li>
      <li><strong>14-17</strong> {_locale.test.completed.points.2}</li>
      <li><strong>11-13</strong> {_locale.test.completed.points.3}</li>
      <li><strong>10 {_locale.test.completed.points.less}</strong> {_locale.test.completed.points.4}</li>
    </ul>
  {/if}

{else}
  <p class="my-4"><i class="fa-solid fa-triangle-exclamation fa-fw text-warning"></i> {_locale.test.hasNotStartedYet}</div>
{/if}
