{block content}


{*
 * Test and student information (header)
 *}
<h1>
  <i class="fa-solid fa-list-check fa-fw text-muted"></i>
  {_locale.test.title}:
  {$test->getCaption($locale)},
  {$test->getScheduledAt()|ldate}
</h1>

{if $selectedUser}
<h4 class="my-3 p-3 border border-secondary rounded bg-light">
  <i class="fa-regular fa-user fa-fw text-muted"></i>
  {_locale.test.resultsOfUser}:
  {$selectedUser->getFirstName()} {$selectedUser->getLastName()}
  <a n:href="Enrolled:default $test->getId()" class="float-md-end text-smaller text-decoration-none mt-1">
    <i class="fa-solid fa-share-from-square fa-fw"></i> {_locale.test.backToEnrolled}
  </a>
</h4>
{/if}


{*
 * Additional test info (supervisors, start/finish time, student's points)
 *}
<span class="d-inline-block me-4">
  <span class="text-muted">{_locale.test.supervisors}:</span>
  {foreach $test->getSupervisors() as $supervisor}{$supervisor->getFirstName()} {$supervisor->getLastName()}{sep}, {/sep}{/foreach}
</span>
<span class="d-inline-block me-4">
  <span class="text-muted">{_locale.test.startedAt}:</span>
  {$test->getStartedAt()|ldate}
</span>
{if $test->getFinishedAt() !== null}
  <span class="d-inline-block me-4">
    <span class="text-muted">{_locale.test.finishedAt}:</span>
    {$test->getFinishedAt()|ldate}
  </span>
{/if}

{*
 * Total test score
 *}
{if $canSeeResults && $enrolledUser->hasScore()}
  <strong class="d-inline-block float-lg-end">
    <span class="text-muted">{_locale.test.awardedPoints}:</span>
    {$enrolledUser->getScore()}
    {if $enrolledUser->getMaxScore() !== null}
      &nbsp;{_locale.test.pointsOf}&nbsp;{$enrolledUser->getMaxScore()}
    {/if}

    {var $grade = $enrolledUser->getGrade()}
    <span n:if="$grade !== null" class="d-inline-block text-white rounded px-2 ms-2"
      style="background-color: {$enrolledUser->getGradeColor()|noescape}"
      title="{_locale.test.grade}"
    >{$grade}</span>
  </strong>
{/if}


{if $test->getStartedAt() !== null}

  {*
   * Navigation between questions
   *}
  <nav class="my-3">
    <ul class="pagination">
      <li class="page-item {$selectedQuestionIdx === 0 ? 'disabled'}">
        <a class="page-link"
          n:href="this question => $selectedQuestionIdx > 0 ? $questions[$selectedQuestionIdx-1]->getId()"
          >{_locale.test.previous}</a>
      </li>
      <li n:foreach="$questions as $idx => $question"
        class="page-item {$idx === $selectedQuestionIdx ? 'active'}">
        {var $answerTmp = $idx !== $selectedQuestionIdx ? $question->getLastAnswer() : null}
        {var $answerStyle = answerStyle($answerTmp, $canSeeResults)}
        <a n:class="page-link,
          $answerTmp !== null ? 'bg-opacity-25 fw-bold',
          $answerStyle ? ('bg-' . $answerStyle . ' text-' . $answerStyle)"
          n:href="this question => $question->getId()"
        >{$question->getOrdering()}</a>
      </li>
      {if $test->getFinishedAt() === null}
      <li class="page-item {$selectedQuestionIdx >= count($questions) ? 'active'}">
        <a class="page-link" n:href="this question => null">{_locale.test.end}</a>
      </li>
      {/if}
      <li class="page-item {$selectedQuestionIdx >= (count($questions) - ($test->getFinishedAt() === null ? 0 : 1)) ? 'disabled'}">
        <a class="page-link"
          n:href="this question => $selectedQuestionIdx < count($questions)-1 ? $questions[$selectedQuestionIdx+1]->getId()"
          >{_locale.test.next}</a>
      </li>
    </ul>
  </nav>

  <hr>

  {*
   * Question number and caption
   *}
  <h3 class="mb-3">
    {block title}
      {if $selectedQuestionIdx < count($questions)}
        <i class="fa-regular fa-circle-question me-2 opacity-50"></i>{_locale.test.question} #{$selectedQuestion->getOrdering()}
      {else}
        {_locale.test.completed.title}
      {/if}
    {/block}
    {if $selectedQuestionIdx < count($questions)}
      &ndash; {$selectedQuestion->getCaption($locale)}

      {*
       * Question points/awarded points for answer
       *}
      {var $pointsStyle = $canSeeResults && $answer ? answerStyle($answer, true) : 'secondary'}
      <span class="badge bg-{$pointsStyle} float-sm-end mt-1 ms-3 fs-6"
        title="{if $selectedQuestion->hasNegativeGrading()}{_locale.test.pointsTitle.negative}{else}{_locale.test.pointsTitle.positive}{/if}"
      >
        {_locale.test.points}:&nbsp;
        {if $canSeeResults && $answer}
          {(int)$answer->getPoints()}&nbsp;{_locale.test.pointsOf}&nbsp;
        {/if}
        {formatPoints($selectedQuestion)}
        {if $selectedQuestion->getPointsPerItem() > 0 && $selectedQuestion->getItemsCount() > 1}
          &nbsp;({$selectedQuestion->getPointsPerItem()}&nbsp;/&nbsp;{_locale.test.pointsPerCorrectItem})
        {elseif $selectedQuestion->getPointsPerItem() < 0 && $selectedQuestion->getItemsCount() > 1}
          &nbsp;({$selectedQuestion->getPointsPerItem()}&nbsp;/&nbsp;{_locale.test.pointsPerMistake})
        {/if}
      </span>
    {/if}
  </h3>


  {if $selectedQuestionIdx < count($questions)}
    {*
     * Question text (with markdown)
     *}
    <div class="bg-light border p-3 my-3 rounded">{$questionText|markdown}</div>

    {if $readonly}

      {*
       * Question correctness information
       *}
      {if $canSeeResults}
        {if $answer === null}
          <div class="border rounded border-secondary text-muted p-2 my-2"><i class="fa-regular fa-circle-xmark fa-fw"></i> {_locale.test.answer.missing}</div>
        {elseif $answer->getPoints() === null}
          <div class="border rounded border-primary text-primary p-2 my-2"><i class="fa-regular fa-circle-question fa-fw"></i> {_locale.test.answer.waiting}</div>
        {elseif hasAnswerFullPoints($answer)}
          <div class="border rounded border-success text-success p-2 my-2"><i class="fa-regular fa-circle-check fa-fw"></i> {_locale.test.answer.correct}</div>
        {elseif hasAnswerPartialPoints($answer)}
          <div class="border rounded border-warning text-warning p-2 my-2"><i class="fa-regular fa-circle-check fa-fw"></i> {_locale.test.answer.partial}</div>
        {elseif hasAnswerNoPoints($answer)}
          <div class="border rounded border-danger text-danger p-2 my-2"><i class="fa-regular fa-circle-xmark fa-fw"></i> {_locale.test.answer.wrong}</div>
        {/if}
      {elseif $test->getFinishedAt() !== null && !$isSupervisor}
        <div class="border rounded border-secondary text-muted p-2 my-2"><i class="fa-solid fa-user-graduate fa-fw fa-beat me-1"></i> {_locale.test.beingEvaluated}</div>
      {elseif $enrolledUser->isLocked()}
        <div class="border rounded border-info text-info p-2 my-2"><i class="fa-regular fa-hand fa-fw"></i> {_locale.test.enrolledUserLocked}</div>
      {/if}

      {$questionResult|noescape}

      <div n:if="$canSeeResults && $answer?->getPublicComment() && !$isSupervisor" class="card mt-3">
        <div class="card-header">
          <i class="fa-solid fa-user-graduate opacity-50 me-2"></i>{_locale.test.studentFeedbackTitle}:
          <small n:if="$answer->getPoints() !== $answer->getAutoPoints()" class="float-end text-secondary opacity-75">
            {if $answer->getAutoPoints() !== null}{_locale.test.teacherChangedPoints}{else}{_locale.test.teacherSetPoints}{/if}
            &nbsp;
            {$answer->getAutoPoints()} <i class="fa-solid fa-right-long"></i> {$answer->getPoints()}
          </small>
        </div>
        <div class="card-body">{$answer->getPublicComment()|markdown}</div>
      </div>
    {else}

      {*
       * Question form (rendered separately, injected) with submit button
       *}
      <form action="{link Save! question: $selectedQuestion->getId()}" method="POST" data-ajax data-ajax-button="saveButton" autocomplete="off">
        <input type="hidden" name="nextQuestion" value="{$nextQuestion?->getId()}">

        {$questionForm|noescape}

        {if $answer}
        <div class="mt-4 mb-1">
          <i class="fa-solid fa-circle-info fa-fw text-muted"></i>
          {_locale.test.alreadyAnsweredInfo}
        </div>
        {/if}

        <button id="saveButton" type="submit" class="btn btn-success btn-lg shadow mt-3">
          <i class="fa-solid fa-download fa-fw"></i>
          {_locale.test.saveAndContinue}
        </button>
        <a class="btn btn-secondary btn-lg shadow mt-3" n:href="this question => $nextQuestion?->getId()">
          {_locale.test.skipAndContinue}
          <i class="fa-solid fa-forward fa-fw"></i>
        </a>

      </form>
    {/if}


    {*
     * Correct answer hint for teachers
     *}
    {if !empty($correctAnswer)}
    <button class="btn btn-outline-danger btn-sm mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#correctAnswer"
      aria-expanded="false" aria-controls="collapseExample">
      <span class="toggle-expanded">
        <i class="fa-solid fa-circle-chevron-down me-1"></i>
        {_locale.test.correctAnswerButtonExpanded}
      </span>
      <span class="toggle-collapsed">
        <i class="fa-solid fa-circle-chevron-right me-1"></i>
        {_locale.test.correctAnswerButtonCollapsed}
      </span>
    </button>
    <div class="collapse" id="correctAnswer">
      <div class="card card-body mt-2">
        {$correctAnswer|noescape}
      </div>
    </div>
    {/if}


    {*
     * Grading comments and points override
     *}
    <div n:if="$test->getFinishedAt() !== null && $answer && $isSupervisor" class="card card-body mt-2">
      <form action="{link PointsOverride! question: $selectedQuestion->getId()}" method="POST" data-ajax data-ajax-button="gradingButton" autocomplete="off">

      <div class="container mb-3">
        <div class="row">
          <div class="col">
            <label class="form-label mt-2">
              {_locale.test.studentFeedbackText}:
              <i class="fa-brands fa-markdown ms-2 opacity-50" title="Markdown"></i>
            </label>
            <textarea name="publicComment" class="form-control" rows="4">{$answer->getPublicComment() ?? ''}</textarea>
          </div>
          <div class="col">
            <label class="form-label mt-2">
              {_locale.test.hiddenTeachersNote}:
              <i class="fa-brands fa-markdown ms-2 opacity-50" title="Markdown"></i>
            </label>
            <textarea name="privateComment" class="form-control" rows="4">{$answer->getPrivateComment() ?? ''}</textarea>
          </div>
        </div>

        <div class="row align-items-end mt-1">
          <div class="col">
            <label for="pointsOverride" class="form-label mt-2">
              {if $answer->getAutoPoints() !== null}
                {_locale.test.manualGrading.titleOverride} [{$answer->getAutoPoints()}]:
              {else}
                {_locale.test.manualGrading.title}:
              {/if}
            </label>
            <div class="input-group">
              <input type="text" class="form-control" id="pointsOverride" name="pointsOverride" maxlength="10" autocomplete="off"
                value="{$answer->getPoints() !== null ? (int)$answer->getPoints() : ''}"
              >
              <span class="input-group-text text-muted bg-warning-subtle" id="pointsOverrideWarning" style="display: none;">
                <i class="fa-solid fa-triangle-exclamation me-1"></i>
                {_locale.test.manualGrading.range} [{$minPoints}..{$maxPoints}]
              </span>

              <button n:if="$answer->getAutoPoints()" class="btn btn-outline-primary" type="button" id="pointsOverrideReset" title="Reset">
                <i class="fa-solid fa-rotate-left"></i>
              </button>
              <button class="btn btn-outline-primary" type="button" id="pointsOverrideSetMax" title="Maximum">
                <i class="fa-solid fa-arrows-up-to-line"></i>
              </button>
              <button class="btn btn-outline-primary" type="button" id="pointsOverrideSetMin" title="Minimum">
                <i class="fa-solid fa-arrows-down-to-line"></i>
              </button>
            </div>
          </div>

          <div class="col text-end">
            <button class="btn btn-success mt-4" id="gradingButton" type="submit">
              <i class="fa-solid fa-diagram-next fa-fw me-1"></i>
              {_locale.test.manualGrading.SaveGrading}:
            </button>
          </div>
        </div>
      </div>

      </form>
    </div>

  {else}

    {*
     * Last page -- show test completion message and points-to-grade mapping
     *}
    <p>
      {if $enrolledUser->isLocked()}
        {_locale.test.completed.message1Locked}
      {else}
        {_locale.test.completed.message1}
      {/if}
    </p>

    {if !$enrolledUser->isLocked()}
      <a class="btn btn-warning mb-3" n:href="LockSelf!" data-ajax="POST" data-ajax-confirm="{_locale.test.lockMyselfConfirm}">
        <i class="fa-solid fa-user-lock fa-fw"></i>
        {_locale.test.lockMyselfButton}
      </a>
    {/if}

    <p>
      {_locale.test.completed.message2}
      {_locale.test.completed.messagePointRanges}
    </p>
    <ul>
      <li n:foreach="$test->getGrading() as $mark">
        {var $range = $test->getGrading()->getMarkRange($mark)}
        <strong>
          {if $range[1] === null}
            {$range[0]} {_locale.test.completed.points.more}
          {elseif $range[0] === 0 && $range[1] > 0}
            {$range[1]} {_locale.test.completed.points.less}
          {elseif $range[0] !== $range[1]}
            {$range[0]}-{$range[1]}
          {else}
            {$range[0]}
          {/if}
        </strong>
        &nbsp;&rArr;&nbsp; {_locale.test.completed.points.mark} <strong>{$mark}</strong>
      </li>
    </ul>
  {/if}


{else}

  {*
   * Test has not started yet
   *}
  <p class="my-4"><i class="fa-solid fa-triangle-exclamation fa-fw text-warning"></i> {_locale.test.hasNotStartedYet}</div>

{/if}



{*
 * Validation scripts for points override input
 *}
{if $test->getFinishedAt() !== null && $answer && $isSupervisor}
<script type="text/javascript">
$(() => {
    const pointsOverride = $("#pointsOverride");

    $("#pointsOverrideReset").click(() => {
        pointsOverride.val({$answer->getAutoPoints() !== null ? (int)$answer->getAutoPoints() : ''});
        validatePoints();
    });
    $("#pointsOverrideSetMax").click(() => {
        pointsOverride.val({$maxPoints});
        validatePoints();
    });
    $("#pointsOverrideSetMin").click(() => {
        pointsOverride.val({$minPoints});
        validatePoints();
    });

    const validatePoints = () => {
        pointsOverride.removeClass('is-valid').removeClass('is-invalid');
        $("#gradingButton").prop('disabled', false);
        $("#pointsOverrideWarning").hide();

        const value = pointsOverride.val();
        if (value !== '' && !value.trim().match(/^(-?[0-9]+)$/)) {
            pointsOverride.addClass('is-invalid');
            $("#gradingButton").prop('disabled', true);
        } else {
            const minPoints = {$minPoints};
            const maxPoints = {$maxPoints};
            const intValue = parseInt(value.trim());
            if (intValue < minPoints || intValue > maxPoints) {
                $("#pointsOverrideWarning").show();
            }

        }
    };

    pointsOverride.on('input', validatePoints);
    validatePoints();
});
</script>
{/if}
