{block content}

<h1><i class="fa-solid fa-list-check fa-fw text-muted"></i> {block title}Test{/block}</h1>

<nav>
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li n:foreach="$enrolledUser->getQuestions() as $question"
      class="page-item {$question->getId() === $selectedQuestionId ? 'active' : ''}">
      <a class="page-link" n:href="this question => $question->getId()">{$question->getOrdering()}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<h2>Question #{$selectedQuestion->getOrdering()}: {$selectedQuestion->getCaption($locale)}</h2>
