.menu-lang-flag {
    height: 16px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding-top: calc(50vh - 180px); 
}

#flashes-container {
    position: relative;
    height: 0;
    padding: 0;
    top: 0;
    overflow: visible;
}

#flashes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#flashes div.alert {
    box-shadow: 2px 2px 10px #999;
}

/*
 * Bootstrap overrided
 */
nav.navbar {
    background-color: #ffee99;
    border-top: 1px solid #ffc;
    border-bottom: 1px solid #fc0;
    box-shadow: 0 1px 6px #999;
}

/*
 * Markdown
 */
.markdown p:last-of-type {
    margin-bottom: 0;
}