body, html {
    height: 100%;
}

#main-wrap {
    min-height: 100%;
    padding-bottom: 4rem;
}

#footer-wrap {
    height: 2.5rem;
    margin-top: -2.5rem;
    width: 100%;
}

.menu-lang-flag {
    height: 16px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding-top: calc(50vh - 180px); 
}

#flashes-container {
    position: relative;
    height: 0;
    padding: 0;
    top: 0;
    overflow: visible;
}

#flashes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#flashes div.alert {
    box-shadow: 2px 2px 10px #999;
}

#blanket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 1000000;
    background-color: white;
    color: #ccc;
    text-align: center;
    font-size: 10vh;
    padding-top: 45vh;
    cursor: wait;
}

/*
 * Bootstrap overrided
 */
nav.navbar {
    background-color: #ffee99;
    border-top: 1px solid #ffc;
    border-bottom: 1px solid #fc0;
    box-shadow: 0 1px 6px #999;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    opacity: 0.4;
    filter: grayscale(50%);
}

.w-0 {
    width: 0;
}

.text-small {
    font-size: 80%;
}

.text-smaller {
    font-size: 66%;
}

a.navbar-brand {
    color: #daa520 !important;
    text-shadow: 1px 1px 2px #cb9;
    line-height: 27px;
}

a.navbar-brand > span {
    transform: translate(0, -2px);
}

/*
 * Markdown
 */
.markdown p:last-of-type {
    margin-bottom: 0;
}

code {
    color: #060;
}

.markdown pre {
    margin: 1rem 0;
}

.markdown table {
    margin: 1rem auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.markdown table td, .markdown table th {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.markdown table th {
    background-color: #e4eee4;
}