locales.en: "Angličtina"
locales.cs: "Čeština"

answer: "Odpověď"

role.student: "Student"
role.teacher: "Vyučující"
role.admin: "Administrátor"

menu.signIn: "Přihlásit"
menu.logout: "Odhlásit"
menu.changeLocale: "Změnit na jazyk"
menu.user: "Uživatelské nastavení"

login.title: "Přihlásit lokálním účtem"
login.login: "Přihlašovací jméno (email)"
login.password: "Heslo"
login.externalLink: "Přihlásit pomocí externí autentizace..."
login.error.invalidCredentials: "Neplatné přihlašovací údaje."
login.error.externalAuthFailed: "Externí autentizace selhala."
login.error.externalCollision: "Externí autenitzace se podařila, ale již existuje lokální účet se stejnou mailovou adresou patřící jinému uživateli. Prosíme, kontaktujte administrátora."
login.error.externalRegisterFails: "Externí autenitzace se podařila, ale v aplikaci neexistuje odpovídající účet a externí autentizátor nedodal potřebné údaje, aby bylo možné provést registraci."

homepage.welcome: "Vítejte"
homepage.welcomeTo: "v aplikaci Quixam"

dashboard.title: "Celkový přehled"
dashboard.student.noTests: "Nejsou zde pro vás žádné testy. Pokud jste již zapsán(a) na určitý test, kontaktujte vašeho vyučujícího."
dashboard.table.test: "Test"
dashboard.table.scheduledAt: "Plánovaný čas"
dashboard.table.startedAt: "Zahájen"
dashboard.table.finishedAt: "Ukončen"
dashboard.table.location: "Umístění"
dashboard.table.students: "Studenti"
dashboard.table.points: "Body"
dashboard.table.results: "zobrazit výsledky"
dashboard.table.continue: "pokračovat"
dashboard.table.enroll: "Zahájit test"
dashboard.table.waitingEnrolled: "test byl pozastaven"
dashboard.table.waitingRegistered: "registrován"
dashboard.table.waiting: "čeká se na zahájení testu"
dashboard.table.missed: "propadlý termín"
dashboard.table.start: "Zahájit"
dashboard.table.finish: "Ukončit"
dashboard.table.revokeStart: "Vrátit zahájení"
dashboard.table.revokeStartConfirm: "Změna stavu testu zpět před jeho zahájení může zmást uživatele, kteří se již do testu přihlásili. Opravdu si přejete provést?"
dashboard.table.revokeFinish: "Vrátit ukončení"
dashboard.table.revokeFinishConfirm: "Změna stavu testu zpět před jeho vyhodnocení může zmást uživatele, kteří již viděli výsledky. Opravdu si přejete provést?"
dashboard.error.invalidId: "Vybraný test již není platný."
dashboard.error.notAuthorized: "Nemáte oprávnění modifikovat tento testovací termín."
dashboard.error.invalidTestState: "Interní stav testu se od posledního zobrazení změnil. Modifikace nemohla být provedena."
dashboard.error.notRegistered: "Na tento test nejste registrován(a). Pokud si myslíte, že byste měl(a) být, kontaktujte zkoušejícího."
dashboard.error.instantiationFailure: "Interní chyba: sestavení individualizované instance testu selhalo."
dashboard.error.evaluationFailure: "Interní chyba: vyhodnocení odpovědí testu selhalo."

user.title: "Detail uživatele"
user.firstName: "Jméno"
user.lastName: "Příjmení"
user.email: "E-mail"
user.emailVerified: "Ověřen"
user.emailNotVerified: "Neověřen"
user.externalId: "Externí identifikátor"
user.role: "Role"
user.authenticatedAt: "Poslední přihlášení"
user.createdAt: "Účet vytvořen"
user.localAccountTitle: "Lokální účet"
user.localAccountNotSet: "Lokální účet nebyl vytvořen. Lokální účet můžete vytvořit zadáním hesla níže (jako přihlašovací jméno se použije váš e-mail)."
user.changePassword: "Změna hesla lokálního účtu:"
user.password.label: "Heslo:"
user.password.labelNew: "Nové heslo:"
user.password.labelVerify: "Nové heslo pro kontrolu:"
user.password.required: "Heslo musí být nastaveno."
user.password.required2: "Heslo musí být nastaveno dvakrát z důvodu ověření."
user.password.minLength: "Heslo musí obsahovat alespoň %length% znaků."
user.password.match: "Ověření hesla neodpovídá původnímu zadanému heslu."
user.password.changeButton: "Změnit heslo"
user.password.setButton: "Vytvořit heslo"
user.password.changeSuccess: "Heslo bylo úspěšně nastaveno."
user.password.wrongOldPassword: "Staré heslo neodpovídá aktuálně nastavenému uživatelskému heslu."

test.title: "Test"
test.resultsOfUser: "Výsledky studenta"
test.backToEnrolled: "zapsaní studenti"
test.supervisors: "Zkoušející"
test.startedAt: "Zahájen"
test.finishedAt: "Ukončen"
test.awardedPoints: "Získané body"
test.question: "Otázka"
test.points: "body"
test.pointsOf: "z"
test.previous: "Předchozí"
test.next: "Následující"
test.end: "Konec"
test.correctAnswer: "Správná odpověď"
test.wrongAnswer: "Špatná odpověď"
test.missingAnswer: "Otázka nebyla zopovězena."
test.hasNotStartedYet: "Testování ještě nebylo zahájeno."
test.saveAndContinue: "Uložit a pokračovat"
test.skipAndContinue: "Přeskočit"
test.alreadyAnsweredInfo: "Tato otázka již byla zodpovězena, ale můžete vaši odpověď změnit, když znovu uložíte formulář. Počítají se pouze poslední odevzdané odpovědi."
test.completed.title: "Test dokončen!"
test.completed.message1: "Všechny otázky byly zodpovězeny. Můžete ještě jednou zkontrolovat vaše odpovědi nebo počkat na vyhodnocení testu."
test.completed.message2: "Vaše výsledky budou k dispozici až zkoušející ukončí test."
test.error.invalidAnswer: "Zdaná odpověď není platná, a proto nebyla uložena."

enrolledUsers.title: "Příhlášení uživatelé"
enrolledUsers.registrations: "Registrace"
enrolledUsers.firstName: "Jméno"
enrolledUsers.lastName: "Příjmení"
enrolledUsers.email: "E-mail"
enrolledUsers.externalId: "Externí ID"
enrolledUsers.points: "Udělené body"
enrolledUsers.answers: "Odevzdané odpovědi"
enrolledUsers.matchedUser: "Odpovídající uživatel"
enrolledUsers.deleteEnrolled: "Smazat"
enrolledUsers.deleteEnrolledWarning1: "Hodláte odstranit zapsaného uživatele z testu. Tato operace také odstraní instance vygenerovaných otázek a všechny odpovědi, které již uživatel odevzdal. Přejete si operaci provést?"
enrolledUsers.deleteEnrolledWarning2: "Tato operace nemůže být vrácena. Jste si opravdu jist(á), že tuto operaci chcete provést?"
enrolledUsers.deleteRegistration: "Zrušit"
enrolledUsers.detail: "detail"
