locales.en: "English"
locales.cs: "Czech"

role.student: "Student"
role.teacher: "Teacher"
role.admin: "Administrator"

menu.signIn: "Sign in"
menu.logout: "Logout"
menu.changeLocale: "Change language to"
menu.user: "User settings"

login.title: "Sign in by local account"
login.login: "Login (email address)"
login.password: "Password"
login.externalLink: "Sign in by an external authenticator..."
login.error.invalidCredentials: "Invalid user credentials."
login.error.externalAuthFailed: "External authentication failed."
login.error.externalCollision: "External authentication was successful, but an account with the same email of a different user already exists. Please contact the administrator."
login.error.externalRegisterFails: "External authentication was successful, but no corresponding account exists and external authenticator did not provide enough information necessary for registration."

homepage.welcome: "Welcome"
homepage.welcomeTo: "to Quixam Application"

dashboard.title: "Dashboard"
dashboard.student.noTests: "There are no tests for you yet. If you expect to be enrolled for particular test, contact the teacher."
dashboard.table.test: "Test"
dashboard.table.scheduledAt: "Scheduled at"
dashboard.table.startedAt: "Started at"
dashboard.table.finishedAt: "Finished at"
dashboard.table.location: "Location"
dashboard.table.results: "see results"
dashboard.table.enter: "enter"
dashboard.table.enrolled: "enrolled"
dashboard.table.enroll: "enroll"
dashboard.table.registered: "registered"
dashboard.table.waiting: "waiting for the test to get started"

user.title: "User detail"
user.firstName: "Name"
user.lastName: "Surename"
user.email: "E-mail"
user.emailVerified: "Verified"
user.emailNotVerified: "Not verified"
user.externalId: "External identifier"
user.role: "Role"
user.authenticatedAt: "Last authentication at"
user.createdAt: "Account registered at"
user.localAccountTitle: "Local account"
user.localAccountNotSet: "No local account has been set. You may create local account by setting a password below (e-mail address is used as login name)."
user.changePassword: "Change password for your local account:"
user.password.label: "Password:"
user.password.labelNew: "New password:"
user.password.labelVerify: "New password verification:"
user.password.required: "The password must be set."
user.password.required2: "The password needs to be set twice for verification."
user.password.minLength: "The password must have at least %length% characters."
user.password.match: "Password verification do not match the first entry."
user.password.changeButton: "Change password"
user.password.setButton: "Create password"
user.password.changeSuccess: "The password was changed successfuly."
user.password.wrongOldPassword: "The old password does not match user's current password."

test.title: "Test"
test.supervisors: "Supervisors"
test.startedAt: "Started at"
test.finishedAt: "Finished at"
test.question: "Question"
test.points: "point(s)"
test.previous: "Previous"
test.next: "Next"
test.end: "End"
test.correctAnswer: "Correct answer"
test.wrongAnswer: "Wrong answer"
test.hasNotStartedYet: "The testing has not started yet."
test.saveAndContinue: "Save and continue"
test.alreadyAnsweredInfo: "This question was already answered, but you can change your answer by saving this form again. Only the last submitted answer counts."
test.completed.title: "Test completed!"
test.completed.message1: "All the questions have been answered. You may revise your answers or simply wait for the results."
test.completed.message2: "The results will become available after the test is switched to the finished state by the supervisor."
