locales.en: "English"
locales.cs: "Czech"

role.student: "Student"
role.teacher: "Teacher"
role.admin: "Administrator"

menu.signIn: "Sign in"
menu.logout: "Logout"
menu.changeLocale: "Change language to"
menu.user: "User settings"

login.title: "Sign in by local account"
login.login: "Login (email address)"
login.password: "Password"
login.externalLink: "Sign in by an external authenticator..."
login.error.invalidCredentials: "Invalid user credentials."
login.error.externalAuthFailed: "External authentication failed."
login.error.externalCollision: "External authentication was successful, but an account with the same email of a different user already exists. Please contact the administrator."
login.error.externalRegisterFails: "External authentication was successful, but no corresponding account exists and external authenticator did not provide enough information necessary for registration."

homepage.welcome: "Welcome"
homepage.welcomeTo: "to Quixam Application"

dashboard.title: "Dashboard"
dashboard.student.noTests: "There are no tests for you yet. If you expect to be enrolled for particular test, contact the teacher."

user.title: "User detail"
