locales.en: "Angličtina"
locales.cs: "Čeština"

role.student: "Student"
role.teacher: "Vyučující"
role.admin: "Administrátor"

menu.signIn: "Přihlásit"
menu.logout: "Odhlásit"
menu.changeLocale: "Změnit na jazyk"
menu.user: "Uživatelské nastavení"

login.title: "Přihlásit lokálním účtem"
login.login: "Přihlašovací jméno (email)"
login.password: "Heslo"
login.externalLink: "Přihlásit pomocí externí autentizace..."
login.error.invalidCredentials: "Neplatné přihlašovací údaje."
login.error.externalAuthFailed: "Externí autentizace selhala."
login.error.externalCollision: "Externí autenitzace se podařila, ale již existuje lokální účet se stejnou mailovou adresou patřící jinému uživateli. Prosíme, kontaktujte administrátora."
login.error.externalRegisterFails: "Externí autenitzace se podařila, ale v aplikaci neexistuje odpovídající účet a externí autentizátor nedodal potřebné údaje, aby bylo možné provést registraci."

homepage.welcome: "Vítejte"
homepage.welcomeTo: "v aplikaci Quixam"

dashboard.title: "Celkový přehled"
dashboard.student.noTests: "Nejsou zde pro vás žádné testy. Pokud jste již zapsán(a) na určitý test, kontaktujte vašeho vyučujícího."
dashboard.table.test: "Test"
dashboard.table.scheduledAt: "Plánovaný čas"
dashboard.table.startedAt: "Zahájen"
dashboard.table.finishedAt: "Ukončen"
dashboard.table.location: "Umístění"
dashboard.table.results: "zobrazit výsledky"
dashboard.table.enter: "vstoupit"
dashboard.table.enrolled: "zapsán"
dashboard.table.enroll: "zapsat se"
dashboard.table.registered: "registrován"
dashboard.table.waiting: "čeká se na zahájení testu"

user.title: "Detail uživatele"
user.firstName: "Jméno"
user.lastName: "Příjmení"
user.email: "E-mail"
user.emailVerified: "Ověřen"
user.emailNotVerified: "Neověřen"
user.externalId: "Externí identifikátor"
user.role: "Role"
user.authenticatedAt: "Poslední přihlášení"
user.createdAt: "Účet vytvořen"
user.localAccountTitle: "Lokální účet"
user.localAccountNotSet: "Lokální účet nebyl vytvořen. Lokální účet můžete vytvořit zadáním hesla níže (jako přihlašovací jméno se použije váš e-mail)."
user.changePassword: "Změna hesla lokálního účtu:"
user.password.label: "Heslo:"
user.password.labelNew: "Nové heslo:"
user.password.labelVerify: "Nové heslo pro kontrolu:"
user.password.required: "Heslo musí být nastaveno."
user.password.required2: "Heslo musí být nastaveno dvakrát z důvodu ověření."
user.password.minLength: "Heslo musí obsahovat alespoň %length% znaků."
user.password.match: "Ověření hesla neodpovídá původnímu zadanému heslu."
user.password.changeButton: "Změnit heslo"
user.password.setButton: "Vytvořit heslo"
user.password.changeSuccess: "Heslo bylo úspěšně nastaveno."
user.password.wrongOldPassword: "Staré heslo neodpovídá aktuálně nastavenému uživatelskému heslu."

test.title: "Test"
test.supervisors: "Zkoušející"
test.startedAt: "Zahájen"
test.finishedAt: "Ukončen"
test.question: "Otázka"
test.points: "bod(y)"
test.previous: "Předchozí"
test.next: "Následující"
test.correctAnswer: "Správná odpověď"
test.wrongAnswer: "Špatná odpověď"
test.hasNotStartedYet: "Testování ještě nebylo zahájeno."
test.saveAndContinue: "Uložit a pokračovat"
