parameters:
  casAuthenticator:
    server: ''
    port: 443
    uri: '/cas'
    certificate: ''

  accessTokens:
    verificationKey: null # this must be set in local config
    expiration: 86400  # 24 hours in seconds
    leeway: 10 # leeway in seconds to account for clock skew when validating token expiration
    usedAlgorithm: 'HS256'

php:
  date.timezone: Europe/Prague


application:
  errorPresenter: Error
  catchExceptions: false # will be set to true for release
  mapping:
    *: App\Presenters\*Presenter


session:
  expiration: 14 days
  savePath: "%tempDir%"


tracy:
  bar:
    - Nette\Bridges\HttpTracy\SessionPanel


di:
  export:
    parameters: no
    tags: no
