parameters:
	casAuthenticator:
		server: ''
		port: 443
		uri: '/cas'
		certificate: ''
    

application:
	errorPresenter: Error
	catchExceptions: false # will be set to true for release
	mapping:
		*: App\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%"

di:
	export:
		parameters: no
		tags: no
