services:
  router: App\Router\RouterFactory::createRouter
  security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
  authenticator: App\Security\Authenticator
  - App\Security\CasAuthenticator(%casAuthenticator%)
  - App\Helpers\LatteDateFilter
  nette.latteFactory:
    setup:
      - addFilter(ldate, @App\Helpers\LatteDateFilter)

  # DB repositories
  - App\Model\Repository\Answers
  - App\Model\Repository\EnrolledUsers
  - App\Model\Repository\EnrollmentRegistrations
  - App\Model\Repository\Questions
  - App\Model\Repository\TemplateQuestions
  - App\Model\Repository\TemplateQuestionsGroups
  - App\Model\Repository\TemplateTests
  - App\Model\Repository\TestTerms
  - App\Model\Repository\Users

  # Console commands
  - App\Console\AddUser
  - App\Console\SetPassword
  - App\Console\RegisterUsers
  - App\Console\DbFill(@App\Model\Repository\Answers, @App\Model\Repository\EnrolledUsers, @App\Model\Repository\EnrollmentRegistrations, @App\Model\Repository\Questions, @App\Model\Repository\TemplateQuestions, @App\Model\Repository\TemplateQuestionsGroups, @App\Model\Repository\TemplateTests, @App\Model\Repository\TestTerms, @App\Model\Repository\Users)

extensions:
  console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
  nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
  nettrine.cache: Nettrine\Cache\DI\CacheExtension
  nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
  nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
  nettrine.orm: Nettrine\ORM\DI\OrmExtension
  nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
  nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
  nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
  nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
  nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension
  translation: Contributte\Translation\DI\TranslationExtension
  monolog: Contributte\Monolog\DI\MonologExtension

nettrine.dbal:
  debug:
    panel: %debugMode%
    sourcePaths: [%appDir%]
  connection:
    driver: pdo_mysql
    host: localhost
    charset: utf8mb4
    types:
      bit: Doctrine\DBAL\Types\BooleanType
      datetime: DoctrineExtensions\DBAL\Types\UTCDateTimeType
    defaultTableOptions:
      charset: utf8mb4
      collate: utf8mb4_unicode_ci

nettrine.orm:
  configuration:
    autoGenerateProxyClasses: true
#    customStringFunctions:
#      coalesce_sub: DoctrineExtensions\Query\Functions\CoalesceSubselectsFunction
#      type: DoctrineExtensions\Query\Functions\TypeFunction

nettrine.orm.annotations:
  mapping:
   App\Model\Entity: %appDir%/Model/Entity

nettrine.annotations:
  ignore:
    - LoggedIn
    - POST
    - GET
    - PUT
    - DELETE

nettrine.extensions.atlantic18:
    softDeleteable: true

nettrine.migrations:
  table: doctrine_migrations # database table for applied migrations
  column: version # database column for applied migrations
  directory: %appDir%/../migrations # directory, where all migrations are stored
  namespace: Migrations # namespace of migration classes


translation:
  locales:
    whitelist: [en, cs]
    default: en
    fallback: [en]
  dirs:
    - %appDir%/lang
  returnOriginalMessage: true # to not translate undefined messages, default is true
  localeResolvers:
    - Contributte\Translation\LocalesResolvers\Parameter
    - Contributte\Translation\LocalesResolvers\Session
    - Contributte\Translation\LocalesResolvers\Header

monolog:
  channel:
    default: # default channel is required
      handlers:
        - Monolog\Handler\StreamHandler(%appDir%/../log/user_actions.log, Monolog\Logger::DEBUG)
