<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{plink Homepage:default}">
      <span class="fa-stack fa-2xs">
        <i class="fa-regular fa-square fa-stack-2x"></i>
        <i class="fa-solid fa-bolt-lightning fa-stack-1x"></i>
      </span>
      Quixam
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!--li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">TODO</a>
        </li-->
        {if $userData}
          <li class="nav-item">
            <a class="nav-link" href="{plink Dashboard:default}">{_locale.dashboard.title}</a>
          </li>
          {if $userData->getRole() === App\Model\Entity\User::ROLE_ADMIN}
            <li class="nav-item">
              <a class="nav-link" href="{plink Template:default}">{_locale.template.title}</a>
            </li>
          {/if}
        {/if}
      </ul>
    </div>

    <ul class="navbar-nav">
      {foreach ['en', 'cs'] as $locale}
        {if $locale != $selectedLocale}
          <li class="nav-item">
              {var $localeCaption = 'locale.locales.' . $locale}
              <a class="nav-link"n:href="ChangeLocale $locale">
                <img src="{$basePath}/styles/flags/{$locale}.png" alt="{$localeCaption|translate}" title="{_locale.menu.changeLocale} {$localeCaption|translate}" class="menu-lang-flag">
              </a>
          </li>
        {/if}
      {/foreach}

      {if $userData}
        <li class="nav-item">
          <a class="nav-link" href="{plink User:default}" title="{_locale.menu.user}">
            {if $userData->getRole() === App\Model\Entity\User::ROLE_ADMIN}
              <i class="fa-solid fa-user-tie fa-fw"></i>
            {elseif $userData->getRole() === App\Model\Entity\User::ROLE_TEACHER}
              <i class="fa-solid fa-user-graduate fa-fw"></i>
            {else}
              <i class="fa-solid fa-circle-user fa-fw"></i>
            {/if}
            {$userData->getFirstName()} {$userData->getLastName()}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger ajax post" href="{link Logout}" title="{_locale.menu.logout}"><i class="fa-solid fa-right-from-bracket fa-fw"></i></a>
        </li>
      {else}
        <li class="nav-item">
          <a class="nav-link" href="{plink Login:default}"><i class="fa-regular fa-circle-user fa-fw"></i> {_locale.menu.signIn}</a>
        </li>
      {/if}
    </ul>
  </div>
</nav>
